<h1>Chats for <%= @perfume.name %></h1>
<h3>Chats History:</h3>
<div class="mb-4">
  <% if @chats.any? %>
    <ul>
      <% @chats.each do |chat| %>
        <li><%= link_to chat.title, chat_path(chat) %></li>
      <% end %>
    </ul>
  <% else %>
    There are no chats yet.
  <% end %>
</div>

<%= simple_form_for [@perfume, @chat] do |f| %>
  <%= f.button :submit, "New chat", class: "btn btn-primary" %>
<% end %>

<%= link_to "â† Back", perfume_path(@perfume), class: "btn btn-secondary mt-3 ms-2"  %>
