<div class="perfume-show">
  <h1><%= @perfume.name %></h1>
  <p class="category"><%= @perfume.category %></p>
  <p class="description"><%= @perfume.description %></p>

  <a href="<%= @perfume.url %>" target="_blank" class="btn btn-purple mt-3">
    More info
  </a>

  <%= link_to "Chats with OpenAI", perfume_chats_path(@perfume), class: "btn btn-secondary mt-3 ms-2"%>
</div>
  <%= link_to "â† Back to all perfumes", perfumes_path, class: "btn btn-secondary mt-3 ms-2" %>
