<div class="perfume-show-page">
  <div class="perfume-container">

    <!-- left: product picture wrapper -->
    <div class="perfume-image-wrapper">
      <div class="perfume-background"></div> <!-- optionaler Hintergrund -->
      <div class="perfume-image">
        <% if @perfume.photo.attached? %>
          <%= image_tag url_for(@perfume.photo), alt: @perfume.name %>
        <% else %>
          <img src="<%= asset_path(@perfume.filename) %>" alt="<%= @perfume.name %>">
        <% end %>
      </div>
    </div>

    <!-- right side info div -->
    <div class="perfume-info">
      <h1><%= @perfume.name %></h1>
      <h2><%= @perfume.brand %></h2>
      <p class="category"><%= @perfume.category %></p>
      <p class="description"><%= @perfume.description %></p>
      <p class="style"><strong>Style:</strong> <%= @perfume.style %></p>
      <p class="notes"><strong>Notes:</strong> <%= @perfume.notes.join(", ") %></p>
      <p class="occasion"><strong>Occasion:</strong> <%= @perfume.occasion %></p>



      <%= link_to "Back to Perfumes", perfumes_path, class: "btn btn-berry" %>
      <%= link_to new_perfume_chat_path(@perfume), class: "btn btn-chat" do %>
        🐧
      <% end %>
    </div>

  </div>
</div>
