<div class="perfume-show">
  <h1><%= @perfume.name %></h1>
  <p class="category"><%= @perfume.category %></p>
  <p class="description"><%= @perfume.description %></p>

  <a href="<%= @perfume.url %>" target="_blank" class="btn btn-purple mt-3">
    More info
  </a>

  <%= link_to "Back to all perfumes", perfumes_path, class: "btn btn-secondary mt-3 ms-2" %>
</div>
<div class="d-flex justify-content-end mt-4 me-3">
  <% if @chat.nil? %>
    <%= link_to "?", new_perfume_chat_path(@perfume), class: "btn btn-chat" %>
  <% else %>
    <%= link_to "?", perfume_chat_path(@perfume, @chat), class: "btn btn-chat" %>
  <% end %>
</div>
